{% extends 'base.html' %}
{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static 'css/items/item-form.css' %}" />
{% endblock %}
{% block content %}
  <div class="page-header">
    <h1>Add an Item</h1>
    <img src="{% static 'images/items/GameBoy1.png' %}" alt="TODO: Add a Pokemon Icon" />
    <img src="{% static 'images/items/GameBoy2.png' %}" alt="TODO: Add a Pokemon Icon" />
    <img src="{% static 'images/items/GameBoy3.png' %}" alt="TODO: Add a Pokemon Icon" />
    <img src="{% static 'images/items/GameBoy4.png' %}" alt="TODO: Add a Pokemon Icon" />
  </div>
  <section class='add-an-item-form-container'>
      <form action="" method="post" class="form-container" autocomplete="off">
        {% csrf_token %}
        <table>
          <tr>
            <th><label for="id_name">Pick an Item</label></th>
            <td>{{ form.name }}</td>
          </tr>
          <tr>
            <th><label for="id_note">Add a Note</label></th>
            <td>{{ form.note }}</td>
          </tr>
        </table>
        <div class="button-container">
          <button type="submit" class="btn submit">Submit!</button>
        </div>
      </form>
    </section>
{% endblock %}
