.random-poke-container {
    padding-top: 32px;
    padding-bottom: 32px;
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('../../images/pokemon/Index-Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12px;
  }

  .your-pokemon-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .pokemon-details-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/pokemon/Pokemon-Detail-Background.avif');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 12px;
  }
  
  .card {
    width: 275px;
    height: fit-content;
    margin: 10px;
    border-radius: 12px;
    background-color: rgba(204, 215, 228, 0.85);
    box-shadow: var(--card-box-shadow);
    padding: 2%;
  }

  .card-title{
    text-decoration: none;
  }

  .card-content a{
    text-decoration: none;
  }
  
  .card-content {
    padding: 10px;
    width: 100%;
  }

  .pokemon-card{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .card-img-container{
    width: 100%;
  }

  .card-img-container > img{
    width: 100%;
    object-fit: cover;
  }
  
  .usr-img {
    width: 100%;
    border-radius: var(--card-border-radius);
  }
  
  .card > a {
    text-decoration: none;
    color: white;
  }
  
  .card h2 {
    margin: 10px 0;
    font-size: var(--font-xl);
  }
  
  .card p {
    margin: 5px 0;
    font-size: var(--font-reg);
  }
  
  #catch-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pokeball-icon{
    width: 25px;
    object-position: center;
    vertical-align: center;
  }

 .pokemon-details{
  background: radial-gradient(circle, rgba(0, 255, 255, 0.75) 0%, rgba(0, 255, 255, 0.85) 100%);
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  box-shadow:rgba(10, 10, 10, 0.5) 3px 3px 12px;
 }

 .pokemon-details p{
  font-size: medium;
 }


.feedings-container{
  display: flex;
  justify-content: space-around;
  align-items: center;

  .feedings p{
    font-size: medium;
  }

  .feedings table{
    font-size: medium;
  }

  .diet-table-container{
    align-self: flex-start;
  }

  .diet-table-container{
    font-size: small;
  }

  h2{
  font-size: x-large;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 12px;
  text-align: center;
  background: linear-gradient(45deg, rgba(0, 255, 255, 0.45), lightcyan);
  }
}

.subsection-title{
  width: 100%;
}

.small-icons-container{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.small-icons{
  height: 60px;
}

.items-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.items-container h2, .items-container h3{
  font-size: x-large;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 12px;
  text-align: center;
  background: linear-gradient(45deg, rgba(0, 255, 255, 0.45), lightcyan);
}

.items-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.item-and-icon-container{
  display: flex;
  justify-content: space-evenly;
}

.item-and-icon-container p {
  font-size: medium;
}

.item-and-icon-container img{
  width: 50px;
}

.give-item-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  padding: 12px;
  margin: 12px;
  box-shadow:rgba(10, 10, 10, 0.5) 3px 3px 8px;
}

.all-items{
  font-size: large;
}