.card-container {
    padding-top: 32px;
    padding-bottom: 32px;
    height: 95vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    background-image: url('../../images/items/Item-Index-Background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .card {
    width: 65%;
    height: auto;
    margin: 8px;
    padding: 8px;
    box-shadow: var(--card-box-shadow);
    position: relative;
    border-radius: 12px;
    background: linear-gradient(45deg, rgba(0, 255, 255, 0.45), lightcyan);
    transition: box-shadow 0.3s ease;
  }

  .clickable-card{
    border: none;
    height: fit-content;
  }

  .card-content{
    height: fit-content;
    padding: 2%;
  }

  .card-title{
    display:flex;
  }

  .card-title img{
    width:48px;
  }
    

  .card > a{
    text-decoration: none;
    color: black;
  }

  
  .card h2 {
    margin: 7px 0;
    font-size: var(--font-xl);
  }
  
  .card p {
    margin: 0;
    font-size: var(--font-reg);
  }
  
  .page-header > img {
    margin-left: 10px;
  }
  
  .page-header > img:first-of-type {
    margin-left: 15px;
  }