main {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    min-height: auto;
    height: 50vh;
    background-image: url('../../images/items/Item-Index-Background.jpg');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .item-details-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .item-card {
    width: 65%;
    height: 100%;
    margin: 0px;
    margin-top: 32px;
    border: solid 2px;
    box-shadow: var(--card-box-shadow);
    position: relative;
    border-radius: 12px;
    background: linear-gradient(45deg, rgba(0, 255, 255, 0.45), lightcyan);
  }
  
  .item-and-icon-container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    padding: 8px;
  }

  .item-and-icon-container img{
    width: 72px;
  }

  .card-content{
    padding: 12px;
  }

  .btn {
    margin-bottom: 15px;
  }
  
  .card h2 {
    margin: 7px 0;
    font-size: var(--font-xl);
    z-index: 1;
  }
  
  .card-content p {
    margin: 0;
    font-size: var(--font-reg);
    z-index: 1;
  }

  .edit-delete-buttons{
    margin: 12px;
  }
  